<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <form class="" action="/add_user" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name">

        <div>
          <br>
        <button class="btn btn-primary" type="submit" name="submit">Add User!</button>
        </div>
      </form>
    </div>
    <br>
    <a href="/"><button class="btn btn-primary" name="home">Return Home</button></a>
  </div>


<div class="col-sm-4">
  <div class="list_div" id="user_list_div">
    <h3>All Users:</h3>
    <br>
    <ul>
      <% if @users.any? %>
        <% @users.each do |user| %>
          <h5><a href="/user/<%= user.id %>"><li><%= user.name %></li></a></h5>
        <% end %>
      <% else %>
        <p>There are currently no users.</p>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-sm-4">
  <div class="list_div" id="event_list_div">
    <h3>All Events:</h3>
    <br>
    <ul>
      <% if @events.any? %>
        <% @events.each do |event| %>
          <h5><a href="/event/<%= event.id %>"><li><%= event.title %></li></a></h5>
        <% end %>
      <% else %>
        <p>There are currently no events.</p>
      <% end %>
    </ul>
  </div>
</div>
</div>
