<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <form class="" action="/add_event" method="post">
        <label for="title">Title of event: </label>
        <input type="text" name="title">

        <label for="location">Location: </label>
        <input type="text" name="location">

        <label for="host">Hosted by: </label>
        <input type="text" name="host">

        <label for="when">Date and time: </label>
        <input type="text" name="when">

        <label for="desription">Event description: </label>
        <input type="text" name="description">

        <label for="category">Event type: </label>
        <select class="select" name="category">
          <option value="hangout">Hangout</option>
          <option value="study">Study</option>
          <option value="network">Network</option>
        </select>

        <div>
          <br>
        <button class="btn btn-primary" type="submit" name="submit">Create Event!</button>
        </div>
      </form>

    </div>
    <br>
    <a href="/"><button class="btn btn-primary" name="home">Return Home</button></a>
  </div>
  <div class="col-sm-6">
    <div class="list_div" id="event_list_div">
    <h3>All Events:</h3>
    <br>
      <ul>
        <% if @events.any? %>
          <% @events.each do |event| %>
            <h5><a href="/event/<%= event.id %>"><li><%= event.title %></li></a></h5>
          <% end %>
        <% else %>
          <p>There are currently no events.</p>
        <% end %>
      </ul>
    </div>
  </div>
</div>
