<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h1>Hangout Events</h1>
    </div>
    <br>
    <div class="card">
      <a href="/add_event"><button class="btn btn-primary" type="submit">Add a New Event</button></a>
    </div>
    <br>
    <div class="card">
      <a href="/"><button type="btn btn_primary" name="button">Return to Home</button></a>
    </div>
  </div>
</div>
