<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #eae1da;
  font-size: 70px;
  padding: 8px 12px;
  position: absolute;
  bottom: 16px;
  width: 100%;
  text-align: center;
  font-weight: bold;

}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active {
  background-color: #717171;
  border-style: solid;
  border-color: #742087;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 14px}
}
</style>
<div class="row">
  <div class="col-sm-12">

        <h3 id="purp">A RESOURCE FOR NAVIGATING CODE SCHOOL</h3>

  </div>
</div>
<br>
<div class="slideshow-container">
  <div class="mySlides fade">
    <center><img id="border" src="img/IMG_6860.JPG" style="width:700px"></center>
    <div class="text">INSPIRED</div>
  </div>

  <div class="mySlides fade">
    <center><img id="border" src="img/IMG_6849.JPG" style="width:700px"></center>
    <div class="text">DEDICATED</div>
  </div>

  <div class="mySlides fade">
    <center><img id="border" src="img/IMG_6841.JPG" style="width:700px;"></center>
    <div class="text">PASSIONATE</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 4000); // Change image every 2 seconds
}
</script>

  <br>
  <br>
<div class="row" id="second_row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card">
        <div class="nested_card">
          <h5>Hangout Events</h5>
          <p>Breaks are important too! Click to organize social events with classmates.</p>
        </div>
      </div>
      <a href="/hangout_events"><button class="btn btn-primary" name="hangout">Hangout Events</button></a>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card">
        <div class="nested_card">
          <h5>Study Events</h5>
          <p>Need help or want to collaborate on projects? Click to ask questions or set up a study group.</p>
        </div>
      </div>
        <a href="/study_events"><button class="btn btn-primary" name="study">Study Sessions</button></a>
    </div>
    <br>
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card">
        <div class="nested_card">
          <h5>Network Events</h5>
          <p>Put yourself out there! Click to find local events in the tech community.</p>
        </div>
      </div>
      <a href="/network_events"><button class="btn btn-primary" name="tech">Tech Events</button></a>
    </div>
  </div>
  <br>
</div>

<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h3>Know about an event?</h3>
      <a href="/add_event"><button class="btn btn-primary">Add a new event</button></a>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <h3>Are you a new user?</h3>
      <a href="/add_user"><button class="btn btn-primary">Add a new user</button></a>
    </div>
  </div>
</div>
