<!DOCTYPE html>
<html>
  <head>
    <title>Epiconnect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='/css/styles.css' type='text/css'>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/scripts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>

  <div class="navbar">
    <a href="/"><button id="nav" class="btn btn-primary">Home</button></a>
    <a href="/hangout_events"><button id="nav" class="btn btn-primary">Hangout</button></a>
    <a href="/network_events"><button id= "nav" class="btn btn-primary">Network</button></a>
    <a href="/study_events"><button id= "nav" class="btn btn-primary">Study</button></a>
  </div>
  <br>

      <%= yield %>
    </div>
  </body>
  <div id="wrap">
    <div id="main"></div>
  </div>
  <div id="footer" class="footer">
      <div class="container" id="align">
              <!--First column-->
              <div class="row">

              <div class="col-md-4" id="first_column">
                  <h5 class="title mb-4 font-bold">Made for Epicodus</h5>
                  <p>400 SW 6th Ave #800<br>Portland, OR 97204</p>
                  <div class="cube1">
                  <p><a href="https://www.epicodus.com/" target="_blank"><img border="0" alt="epicodus" src="img/purple_epicodus.png" width="auto" height="80"></a></p><p class="contact">Epicodus</p></a>
                  </div>
              </div>
              <div class="col-md-4" id="second_column">
                  <h5 class="title mb-4 font-bold">Contact Us</h5>
                  <p><a href="https://github.com/srhcrete/epiconnect2">Contribute to our Github</a></p>
                  <p> Email: epiconnect@gmail.com</p>
              </div>
            </div>
            </div>

              <!--Second column-->
              <div class="container" id="align">
              <div class="row">
                <div class="col-md-2">
                  <br>
                  <h5 class="title mb-4 font-bold">Useful Resources:</h5>
                </div>
                <div class="col-md-2">

                  <div class="cube1">
                  <p><a href="https://slack.com/" target="_blank"><img border="0" alt="slack" src="img/purple_slack.png" width="auto" height="50"></a></p><p class="contact">Slack</p></a>
                </div>
              </div>
                  <div class="col-md-2">
                <div class="cube1">
                <p><a href="https://www.meetup.com/" target="_blank"><img border="0" alt="meetup" src="img/purple_meetup.png" width="auto" height="50"></a></p><p class="contact">Meetup</p></a>
              </div>
              </div>
              <div class="col-md-2">
                <div class="cube1">
                <p><a href="https://www.metaltoad.com/" target="_blank"><img border="0" alt="metaltoad" src="img/purple_metaltoad.png" width="auto" height="50"></a></p><p class="contact">Metal Toad</p></a>
              </div>
            </div>
            <div class="col-md-2">
                <div class="cube1">
                <p><a href="https://www.github.com/" target="_blank"><img border="0" alt="github" src="img/purple_git.png" width="auto" height="50"></a></p><p class="contact">Github</p></a>
                </div>
              </div>
                <div class="col-md-2">
                </div>
              </div>
            </div>
                  <!--Copyright-->
                  <div id="copyright"><p class="text-center text-md-left grey-text">  © 2017 Copyright:<strong> Karla Buckner, Sarah Lindmar, Sara Spink and Gabi Gavric</strong></a></p>
                  </div>
                  <!--/.Copyright-->
      </div>
</html>
