<!DOCTYPE html>
<html>
  <head>
    <title>Epiconnect</title>
    <link rel='stylesheet' href='/css/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='/css/styles.css' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>

    <div class='container'>
      <div class='jumbotron'>
        <img id="logo" src="img/epiconnect_logo.png" alt="Epiconnect logo">
      </div>
      <%= yield %>
    </div>

    <br>
    <br>


    <footer class="page-footer stylish-color-dark">
        <div class="container">
            <div class="row text-center text-md-left mt-3 pb-3">

                <!--First column-->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="title mb-4 font-bold">Made for Epicodus</h6>
                    <p>400 SW 6th Ave #800<br>Portland, OR 97204</p>
                    <img src="img/epicodus-ico.png" alt="Epicodus logo" height="150px" width="150px">
                </div>
                <!--/.First column-->

                <hr class="w-100 clearfix d-md-none">

                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="title mb-4 font-bold">Useful Resources</h6>
                    <p><a href="https://www.epicodus.com/" target="_blank">Epicodus</a></p>
                    <p><a href="https://www.learnhowtoprogram.com/" target="_blank">Learn different languages</a></p>
                    <p><a href="https://slack.com/" target="_blank">Start a Slack group</a></p>
                    <p><a href="https://www.meetup.com/" target="_blank">Meetup</a></p>
                    <p><a href="https://www.metaltoad.com/" target="_blank">Tutors</a></p>
                    <p><a href="https://www.github.com/" target="_blank">Github</a></p>
                </div>
                <!--/.Second column-->

                <hr class="w-100 clearfix d-md-none">

                <!--Third column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="title mb-4 font-bold">Contact Us</h6>
                    <p><a href="https://github.com/srhcrete/epiconnect">Contribute to our Github</a></p>
                    <p> Email: kmb2662@gmail.com</p>

                </div>
                <!--/.Third column-->

                <hr class="w-100 clearfix d-md-none">
            </div>
            <!-- Footer links -->

            <hr>

            <div class="row py-3 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-8 col-lg-9">

                    <!--Copyright-->
                    <p class="text-center text-md-left grey-text">© 2017 Copyright:<strong> Karla Buckner, Sarah Lindmar, Sara Spink and Gabi Gavric</strong></a></p>
                    <!--/.Copyright-->

                </div>



            </div>
        </div>
    </footer

    </div>
  </body>
</html>
