<!DOCTYPE html>
<html>
  <head>
    <title>Epiconnect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='/css/styles.css' type='text/css'>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/scripts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>

  <div class="navbar">
    <a href="/">Home</a>
    <a href="/hangout_events">Hangout</a>
    <a href="/network_events">Network</a>
    <a href="/study_events">Study</a>
  </div>

    <div class='container'>
      <div class='jumbotron'>
        <img id="logo" src="img/epiconnect_logo_v02.png" alt="Epiconnect logo">
      </div>
      <%= yield %>
    </div>
    <br>
    <br>
    <div class="footer">
        <div class="container">
          <div class="slide">
            <div class="row text-center text-md-left mt-3 pb-3">

                <!--First column-->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="title mb-4 font-bold">Made for Epicodus</h6>
                    <p>400 SW 6th Ave #800<br>Portland, OR 97204</p>
                    <img id="footer_logo" src="img/epicodus-ico.png" alt="Epicodus logo" height="120px" width="auto">
                </div>
                <!--/.First column-->

                <hr class="w-100 clearfix d-md-none">

                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="title mb-4 font-bold">Useful Resources</h6>

                    <p><a href="https://www.epicodus.com/" target="_blank"><img border="0" alt="epicodus" src="img/Epicodus.png" width="auto" height="50"></a></p>
                    <p><a href="https://slack.com/" target="_blank"><img border="0" alt="slack" src="img/slack-logo.png" width="auto" height="50"></a></p>

                </div>
                <!--/.Second column-->

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                  <hr class="w-100 clearfix d-md-none">
                  <br>
                  <br>
                  <br>

                  <p><a href="https://www.meetup.com/" target="_blank"><img border="0" alt="meetup" src="img/meetup_logo.png" width="auto" height="50"></a></p>
                  <p><a href="https://www.metaltoad.com/" target="_blank"><img border="0" alt="metaltoad" src="img/toad.png" width="auto" height="50"></a></p>
                  <p><a href="https://www.github.com/" target="_blank"><img border="0" alt="github" src="img/git.jpg" width="auto" height="50"></a></p>

                </div>

                <!--Third column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="title mb-4 font-bold">Contact Us</h6>
                    <p><a href="https://github.com/srhcrete/epiconnect">Contribute to our Github</a></p>
                    <p> Email: epiconnect@gmail.com</p>

                </div>

            <!-- Footer links -->

                <!--Grid column-->
<br>
                    <!--Copyright-->
                    <p class="text-center text-md-left grey-text">© 2017 Copyright:<strong> Karla Buckner, Sarah Lindmar, Sara Spink and Gabi Gavric</strong></a></p>
                    <!--/.Copyright-->


          </div>
        </div>
      </div>
    </div>
  </body>
</html>
