<div class="row" id="pad4">
  <div class="col-sm-12">
    <div class="card">
      <h1>Study Events</h1>
      <div class="list_div" id="study_list">
        <ul>
          <% if @events.any? %>
            <% @events.each do |event| %>
              <% if event.category.eql?('study') %>
              <ul>
                <a href='/event/<%=event.id%>'><li><%= event.title %></li></a>
              </ul>
              <% end %>
            <% end %>
          <% else %>
            <p>There are currently no Study events.</p>
          <% end %>
        </ul>
      </div>
    </div>
    <br>
    <div class="card">
      <a href="/add_event"><button class="btn btn-primary" type="submit">Add a New Event</button></a>
    </div>
    <br>
    <div class="card">
      <a href="/"><button class="btn btn-primary" name="button">Return to Home</button></a>
    </div>
  </div>
</div>
